{% extends "base.html" %}
{% block header %}
<header class="header">
    <h1 class="logo"><a href="#">Flexbox</a></h1>
    <ul class="main-nav">
        <li><a href="#">Clients</a></li>
        <li><a href="#">Relatives</a></li>
        <li><a href="#">Eldercare</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <h1 class="logo"><a href="#">Download</a></h1>
    <h1 class="logo"><a href="#">Login</a></h1>
</header>
{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-text">
        <h1>“KatSit helps my father keep track of his daily routine and medications.”</h1>
        <p>–Sandra, using KatSit for 2 years</p>
    </div>
</div>
{% endblock %}
