{% extends "base.html" %}
{% block header %}
<header class="header">
    <h1 class="logo"><a href="/"><img src="static/KatSitLogo.png"></a></h1>
    <ul class="main-nav">
        <li><a href="#clients-relatives">Clients &&nbsp;relatives</a></li>
        <li><a href="#eldercare">Eldercare</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#about-us">About&nbsp;us</a></li>
    </ul>
    <ul class="main-nav">
        <li><h1 class="logo"><a href="/download">Download</a></h1></li>
        <li><h1 class="logo"><a href="/login">Login</a></h1></li>
    </ul>
</header>
{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-text">
        <h1>“KatSit helps my father keep track of his daily routine and medications.”</h1>
        <p>–Sandra, using KatSit for 2 years</p>
    </div>
</div>
<div class="content">
    <h2>KatSit is a platform designed for the elderly</h2>
    <p>Connect with your relatives easily.<br>Never forget important events with reminders.<br>Easily overview and get alerts for medications.</p>
</div>
{% endblock %}
